<!DOCTYPE html>
<html lang="en">

<head>
    <title>Signup - TrendTrove</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%- include('../partials/static-head-elements.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="site-wrap">
            <div class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                                class="text-black">Signup</strong></div>
                    </div>
                </div>
            </div>
            <div class="site-section border-bottom" data-aos="fade">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="site-section-heading text-center">
                                <h2 class="text-black">Sign Up</h2>
                            </div>

                            <!-- Signup Form -->
                            <form id="signup-form" class="form" method="POST" action="/auth/signup">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" name="name" class="form-control" required>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" class="form-control" required>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" id="password" name="password" class="form-control" required>
                                </div>

                                <div class="form-group">
                                    <label for="confirm-password">Confirm Password:</label>
                                    <input type="password" id="confirm-password" name="confirmPassword"
                                        class="form-control" required>
                                </div>

                                <div class="text-center mt-2">
                                    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                                </div>
                                <div class="text-center mt-2">
                                    <a href="/auth/google" type="submit" class="btn btn-primary w-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            preserveAspectRatio="xMidYMid" viewBox="0 0 256 262" id="google">
                                            <path fill="#4285F4"
                                                d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027">
                                            </path>
                                            <path fill="#34A853"
                                                d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1">
                                            </path>
                                            <path fill="#FBBC05"
                                                d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782">
                                            </path>
                                            <path fill="#EB4335"
                                                d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251">
                                            </path>
                                        </svg>
                                        Signup With Google
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <%- include("../partials/footer.ejs") %>
            <%- include("../partials/scripts.ejs") %>

</body>

</html>