<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h3 class="footer-heading mb-4">Navigations</h3>
                </div>
                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/products">Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                        <li class="address">Lagos, Nigeria</li>
                        <li class="phone"><a href="tel://+2347014364771">+2347014364771</a></li>
                        <li class="email"><a href="mailto:emmanueltopea@gmail.com">emmanueltopea@gmail.com</a></li>
                    </ul>
                </div>

                <div class="block-7">
                    <label class="footer-heading">Made by Emmanuel Oloyede <a href="https://x.com/itechemmy">(@itechemmy)</a></label>
                </div>
            </div>
        </div>
    </div>
</footer>
