<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
    integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/style.css">

<!-- Meta Tags Generated with https://metatags.io -->

<!-- Primary Meta Tags -->
<title>Trendtrove Wears - Ecommerce Project</title>
<meta name="title" content="Trendtrove Wears - Ecommerce Project" />
<meta name="description" content="Your go-to for the latest trends in men's, women's, and children's fashion. We curate trendy clothes for the whole family, prioritizing simplicity and style, ensuring a seamless shopping experience with affordable, quality fashion. " />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://metatags.io/" />
<meta property="og:title" content="Trendtrove Wears - Ecommerce Project" />
<meta property="og:description" content="Your go-to for the latest trends in men's, women's, and children's fashion. We curate trendy clothes for the whole family, prioritizing simplicity and style, ensuring a seamless shopping experience with affordable, quality fashion. " />
<meta property="og:image" content="https://i.ibb.co/DzK0P51/metatag-img.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://metatags.io/" />
<meta property="twitter:title" content="Trendtrove Wears - Ecommerce Project" />
<meta property="twitter:description" content="Your go-to for the latest trends in men's, women's, and children's fashion. We curate trendy clothes for the whole family, prioritizing simplicity and style, ensuring a seamless shopping experience with affordable, quality fashion. " />
<meta property="twitter:image" content="https://i.ibb.co/DzK0P51/metatag-img.png" />

<script>
  window.markerConfig = {
    project: '65b9738a1f0938ebbf6fb248', 
    source: 'snippet'
  };

!function(e,r,a){if(!e.__Marker){e.__Marker={};var t=[],n={__cs:t};["show","hide","isVisible","capture","cancelCapture","unload","reload","isExtensionInstalled","setReporter","setCustomData","on","off"].forEach(function(e){n[e]=function(){var r=Array.prototype.slice.call(arguments);r.unshift(e),t.push(r)}}),e.Marker=n;var s=r.createElement("script");s.async=1,s.src="https://edge.marker.io/latest/shim.js";var i=r.getElementsByTagName("script")[0];i.parentNode.insertBefore(s,i)}}(window,document);
</script>
    
