<!DOCTYPE html>
<html lang="en">

<head>
    <title>About - TrendTrove</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%- include('./partials/static-head-elements.ejs') %>
</head>

<body>
    <header class="site-navbar" role="banner">
        <%- include('./partials/header.ejs') %>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/about">About</a></li>
                        <li><a href="/shop">Shop</a></li>
                    </ul>
                </div>
            </nav>
    </header>
    <div class="site-wrap">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">About</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section border-bottom" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="block-16">
                            <figure>
                                <img src="images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded">


                            </figure>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">


                        <div class="site-section-heading pt-3 mb-4">
                            <h2 class="text-black">How We Started</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repellat, dicta at
                            laboriosam,
                            nemo
                            exercitationem itaque eveniet architecto cumque, deleniti commodi molestias repellendus
                            quos
                            sequi hic
                            fugiat asperiores illum. Atque, in, fuga excepturi corrupti error corporis aliquam unde
                            nostrum quas.</p>
                        <p>Accusantium dolor ratione maiores est deleniti nihil? Dignissimos est, sunt nulla illum
                            autem
                            in,
                            quibusdam cumque recusandae, laudantium minima repellendus.</p>

                    </div>
                </div>
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>
    </div>

    <%- include("./partials/scripts.ejs") %>

</body>

</html>