<!DOCTYPE html>
<html lang="en">

<head>
    <title>About - TrendTrove</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%- include('./partials/static-head-elements.ejs') %>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="site-wrap">
            <div class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                                class="text-black">About</strong></div>
                    </div>
                </div>
            </div>

            <div class="site-section border-bottom" data-aos="fade">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <div class="block-16">
                                <figure>
                                    <img src="images/blog_1.jpg" alt="Clothings" class="img-fluid rounded">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">


                            <div class="site-section-heading pt-3 mb-4">
                                <h2 class="text-black">How We Started</h2>
                            </div>
                            <p>
                                Welcome to Trendtrove – your go-to for the latest 
                                trends in men's, women's, and children's fashion.
                                We curate trendy clothes for the whole family,
                                prioritizing simplicity and style, ensuring a seamless
                                shopping experience with affordable, quality fashion.
                                Welcome to Trendtrove – where fashion meets simplicity.
                            </p>
                            <p>(Note: Trendtrove is my side project. Made by Emmanuel Oloyede.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("./partials/footer.ejs") %>
            <%- include("./partials/scripts.ejs") %>

</body>

</html>
