<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thank You - TrendTrove</title>
    <%- include('../partials/static-head-elements.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <i class="fa-solid fa-circle-check fa-shake display-3 text-success"></i>
                        <h2 class="display-3 text-black">Thank you!</h2>
                        <p class="lead mb-5">You payment was successfuly completed. You'll be contacted in 3 days.</p>
                        <p><a href="/products" class="btn btn-sm btn-primary">Back to shop</a></p>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
            </div>
            <%- include("../partials/scripts.ejs") %>

</body>

</html>
